input.search-bar{
    width:50%;
    background-color:white;
    color:black;
    display:block;
    position:absolute;
    top:13%;
    left:50%;
    transform:translate(-50%);
    padding:8px;
}

ul.findfriends li {
    display:block;
    margin:20px auto;
    list-style: none;
    border: 1px solid gray;
    height:100%;
    padding:50px;
    width:50%;
}