ul.findfriends li {
  display: block;
  margin: 20px auto;
  list-style: none;
  border: none;
  height: 100%;
  padding: 40px;
  width: 50%;
  border-radius: 8px;
  background-color: #151a21;
}

button {
  background-color: #fd4d4d;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
}

button:hover {
  background-color: #fd4d4dcd;
}

h3.usersName {
  color: #529aec;
  font-weight: bold;
  font-size: 25px;
}

h3.usersBio {
  color: rgb(82, 214, 82);
}

h2.purpTitle {
  text-align: center;
  color: #bb86fc;
}

@media (max-width: 449px) {
  ul.findfriends li {
    width: 83%;
    padding: 25px;
  }
}
