ul.findfriends li {
  display: block;
  margin: 20px auto;
  list-style: none;
  border: 1px solid #ccc;
  height: 100%;
  padding: 40px;
  width: 50%;
  background-color: #E6E6E6;
}

button {
  background-color: #FF6666;
  color: white;
  padding: 5px 15px;
  border: 1px solid transparent;
}

h3.usersName {
  color: #529aec;
  font-weight: bold;
  font-size: 25px;
}

h3.usersBio {
  color: rgb(82, 214, 82);
}

h2.purpTitle{
  text-align:center;
  color:#bb86fc;
}

@media (max-width:449px){
  ul.findfriends li {
    width:83%;
    padding:25px;
  }
}