table {
  margin-left: auto;
  margin-right: auto;
}

table,
th,
td {
  border: 1px solid black;
  padding: 15px;
  width:700px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #aaa;
}

tr:nth-child(odd) {
  background-color: rgb(135, 143, 189);
}

div.compare h3 {
  text-align: center;
}
