body {
  background-color: #0b0e11;
  font-family: "Roboto", sans-serif;
}

* {
  color: white;
}

ul.navbar {
  list-style: none;
  text-align: right;
}

ul li {
  margin: 0px 15px;
  display: inline-block;
}

h2.front-quote {
  position: absolute;
  left: 49%;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 20%;
  z-index: 2;
  background-color: transparent;
  color: black;
  font-size: 19px;
  background-color: white;
}

.container-front {
  position: relative;
  text-align: center;
}

img {
  position: relative;
  display: block;
  margin: 20px auto 50px auto;
  width: 35%;
  height: 440px;
  animation-name: iphone;
  animation-duration: 3.5s;
  border: 1px solid rgb(180, 81, 230);
}

.about {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 65px;
}

@keyframes iphone {
  50% {
    transform: scale(1.05);
  }
}

@media only screen and (max-width: 800px) {
  h2.front-quote {
    width: 47%;
  }

  img {
    width: 65%;
  }

  @keyframes iphone {
    50% {
      width: 70%;
    }
    100% {
      width: 65%;
    }
  }
}

@media only screen and (max-width: 400px) {
  img {
    height: 100%;
    width: 90%;
  }

  ul.navbar li {
    font-size: 13px;
    margin: 8px 8px;
  }

  h2.front-quote {
    width: 30%;
    left: 50%;
    font-size: 16px;
  }

  @keyframes iphone {
    50% {
      width: 100%;
    }
  }
}
