h1.profile,
h3.connect {
  margin: 30px;
}

h3.connect {
  float: right;
  text-decoration: underline;
}

h1.profile {
  float: left;
}

div.profile-info {
  width:50%;
  margin:0 auto;
}

div.profile-info > h3 {
  margin: 28px auto;
  padding: 20px;
  background-color:rgb(255, 255, 255);
  border:1px solid #ccc;
}

h3.profileName {
  color: rgb(82, 214, 82);
}

h3.profileBio {
  color: #529aec;
}

h3.profileScrtime {
  color: #bb86fc;
  padding-bottom:30px;
}

.topProfile{
  background-color: #151a21;
  border-radius: 10px;
  text-align: left;
  padding:80px;
  height: 200px;
  width:60%;
  display: block;
  margin:0 auto;
}

.findproffriends{
  margin-top:100px;
  padding:20px;
}

@media (max-width:449px){
    div.profile-info {
        width:90%;
    }

    .topProfile{
      width:50%;
      height:300px;
    }
}