#cursor {
  animation: blink 0.7s steps(1) infinite;
  color: green;
  background-color: white;
}

span.typed {
  color: #68d9b5;
  font-family: Courier;
  font-weight: 300;
  font-size: 35px;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media only screen and (max-width: 400px) {
  span.typed {
    font-size: 25px;
  }
}
